@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: League Spartan, sans-serif;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dot.active {
  background-color: #d4af37;
}

.input-underline {
  border: none;
  border-bottom: 2px solid #d4af37;
  width: 100%;
  padding: 8px 0;
  margin-top: 4px;
  outline: none;
}

.input-underline::placeholder {
  color: #bbb;
}

.disabled {
  color: lightgrey;
  /* Change the text color to grey */
  cursor: not-allowed;
  /* Change the cursor to indicate it's not clickable */
}