@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: League Spartan, sans-serif;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
}

.dot.active {
  background-color: #d4af37;
}

.input-underline {
  border: none;
  border-bottom: 2px solid #d4af37;
  width: 100%;
  padding: 8px 0;
  margin-top: 4px;
  outline: none;
}

.input-underline::placeholder {
  color: #bbb;
}

.disabled {
  color: lightgrey;
  /* Change the text color to grey */
  cursor: not-allowed;
  /* Change the cursor to indicate it's not clickable */
}

/* path:nth-child(1) {
  fill: none;
  stroke: #cecece;
  stroke-width: 13px;
} */

path:nth-child(2) {
  fill: none;
  stroke: #1980d0;
  stroke-width: 13px;
}

circle {
  fill: #1980d0;
  stroke: #fff;
  stroke-width: 5px;
  border-radius: 12px;
}

.dashboard {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.enquiry-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.enquiry-item p {
  margin: 0;
}

.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.course-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.sessions {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.session {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}

.more {
  color: #ffc107;
  cursor: pointer;
  margin-top: 10px;
}
